body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 100px;
}
#top-banar{
    display: flex;
    padding: 50px;
    align-items: center;
}
#top-banar img{
    width: 70%;
}
#top-title{
    border-left: 5px solid tomato;
    border-radius: 2px;
    padding-left: 3px;
}
#top-title h1{
    font-size: 40px;
}
.tomato-color{
    color: tomato;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.half-width{
    width: 50%;
    /* border: 1px solid red; */
}
.button{
    text-decoration: none;
    padding: 7px 20px;
    background-image: linear-gradient(#ff6347, #ff7961);
    border-radius: 5px;
    color: white;
}

#second-banar{
    display: flex;
    padding-left: 5px;
}
.three-grid{
    width: 33%;
    border-radius: 30px;
    margin: 25px;
    padding: 10px;
}
#second-banar img{
    width: 30%;
}
#coding-banar{
    display: flex;
    align-items: center;
    background-size: 250px 250px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
}
#coding-banar img{
    width: 50%;

}
.half-width img{
    width: 50%;
}
#project-banar{
    display: flex;
    align-items: center;
    height: 430px;
    padding-left: 50px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 100%;
    background-position-x: 92%;
    background-size: 150px 150px;
}
.developer-section{
    display: flex;
}
.famous-web-developer{
    width: 33%;
    border-radius: 10px;
    padding: 5px;
    margin: 3%;
}
.famous-web-developer img{
    width: 100%;
    border-radius: 10px;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    align-items: center;
    padding: 10px;
}

footer h1{
    font-family: Cambria, Cochin, Georgia, Times, serif;
}